.parking-lot {
  position: relative;
  width: 1605px;
  height: 983px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slot {
  padding-top: 3px;
  font-size: 50px;
  outline: 7px solid black;
  /* background: #d5ffd8; */
  display: flex;
  justify-content: center;
  font-weight: bold;
  width: 130px;
  height: 175px;
}
.slot-a {
  padding-left: 5px;
  font-size: 45px;
  outline: 7px solid black;
  border-left: none;
  border-right: none;
  margin-right: 4px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 200px;
  height: 110px;
}

.area-a {
  position: absolute;
  right: 0;
  top: 120px;
  display: flex;
  flex-direction: column;
}

.area-b,
.area-c {
  position: absolute;
  top: 240px;
  display: grid;
  grid-template-columns: repeat(2, 136px);
}

.area-b {
  left: 803px;
}
.area-c {
  left: 284px;
}

.area-d {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
  display: grid;
  grid-template-columns: repeat(9, 136px);
  left: 152px;
}

.arrow {
  position: absolute;
  top: 5px;
  font-size: 40px;
}

.arrow.left {
  left: 110px;
}
.arrow.right {
  right: 340px;
}
